@page
@model photoservice.Pages.EditModel

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.IdRes" />
            <div class="form-group">
                <label asp-for="Reservation.ClientId" class="control-label"></label>
                <select asp-for="Reservation.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="Reservation.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ServiceId" class="control-label"></label>
                <select asp-for="Reservation.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="Reservation.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.StatusId" class="control-label"></label>
                <select asp-for="Reservation.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Reservation.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Date" class="control-label"></label>
                <input asp-for="Reservation.Date" class="form-control" />
                <span asp-validation-for="Reservation.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Deadline" class="control-label"></label>
                <input asp-for="Reservation.Deadline" class="form-control" />
                <span asp-validation-for="Reservation.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.FinishedDate" class="control-label"></label>
                <input asp-for="Reservation.FinishedDate" class="form-control" />
                <span asp-validation-for="Reservation.FinishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Price" class="control-label"></label>
                <input asp-for="Reservation.Price" class="form-control" />
                <span asp-validation-for="Reservation.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.OtherInfo" class="control-label"></label>
                <input asp-for="Reservation.OtherInfo" class="form-control" />
                <span asp-validation-for="Reservation.OtherInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ReservationDate" class="control-label"></label>
                <input asp-for="Reservation.ReservationDate" class="form-control" />
                <span asp-validation-for="Reservation.ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
