@page
@model photoservice.Pages.IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Witaj</h1>
	<p>Skorzystaj z opcji <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logowania</a> lub <a class="nav-link text-dark" asp-area="" asp-page="/Register">Rejestracji</a></p>
</div>
