@page
@model photoservice.Pages.RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h2>Rejestracja</h2>


<form method="post" class="form">
    <div class="form-group">
        <label for="FirstName">Imię</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="LastName">Nazwisko</label>
        <input type="text" id="LastName" name="LastName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Email">E-mail</label>
        <input type="email" id="Email" name="Email" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Numer telefonu</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Password">Hasło</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Zarejestruj</button>
</form>
